.login {
    text-align: left;
    padding-left: 50px;
}

.dev{
    border-style: groove;
    margin-bottom: 10px;
}

.SIT{
    border-style: groove;
    margin-bottom: 10px;
}

.Preprod{
    border-style: groove;
    margin-bottom: 10px;
}

.env{
    width: 570px;
    margin-left: 260px;
}